<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Hackathon UNIESP
                    </a>
                </li>
                <!-- <li>
                    <a href="#">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="#">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="#">
                        Licenses
                    </a>
                </li> -->
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            <!-- {{test | date: 'yyyy'}}, made with love by -->
            <a href="https://www.creative-tim.com" target="_blank">Hackathon Uniesp</a>
        </div>
    </div>
</footer>
